/*обнулення*/
@import "nullstyle.scss";

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%; //щоб вся оболонка wrapper була на всю довжину екрана.
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
}


.content {
	flex: 1 0 auto;
}
.hi {
	background-color: #445162;
	padding: 50px 0;
}
.hi__row {
	display: flex;
	justify-content: space-between;
}
.hi__body {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #ffffff;
	padding: 0px 20px 0px 0px;
}
.hi__title {
	font-size: 60px;
	margin: 0px 0px 38px 0px;
}
.hi__list {
}
.hi__list li{
	font-size: 20px;
	background: url('../img/icons/check.png') 0 2px no-repeat;
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 17px 0px;
}

.hi__list li:last-child{
	margin: 0;
}

.hi__image {}

.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}

.what {}
.what__row {
	display: flex;
	padding: 50px 0;
}
.what__img {
	flex: 0 0 430px;
}

.what__img {
	max-width: 100%; //щоб картинка не було більше ніж 430px навіть коли її замінять
}

.what__body {
	padding: 0px 0px 0px 38px;
	flex: 1 1 auto;
}
.what__title {
	margin: 0px 0px 33px 0px;
}

.what__text {}
.what__text p{
	margin: 0px 0px 25px 0px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.columns {
	background-color: #f5f5f5;
	padding: 50px 0px 20px 0px;
}

.columns_title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}
.columns__item {}
.item {}
.item__row {
	display: flex;
}
.item__img {
	flex: 0 0 200px;
}
.item__body {
	padding: 0px 0px 0px 15px;
	flex: 1 1 auto;
}
.item__title {
	margin: 0px 0px 13px 0px;
	font-size: 24px;
	line-height: 30px;
	color: #445161;
}
.item_text {
	font-size: 16px;
	line-height: 21px;
	color: #333333;
}

.vertical {
	padding: 50px 0;
}
.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.vertical__body {
	max-width: 990px;
	margin: 0px auto;
}
.vertical__row {
	display: flex;
	margin: 0 -22px;
}
.vertical_column {
	flex: 0 1 33.333%;
	padding: 0 22px;
	display: flex;
}
.vertical__item {
	padding: 0px 0px 20px 0px;
	background-color: #445162;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #445162;
	display: flex;
	flex-direction: column;
}
.vertical__subtitle {
	padding: 12px 0;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
}
.vertical__label {
	text-align: center;
	background-color: #fff;
	font-size: 40px;
	line-height: 30px;
	color: #445162;
	padding: 15px 0;
}
.vertical__text {
	flex: 1 1 auto;
	padding: 20px;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}

.vertical__text p{
	margin: 0px 0px 15px 0px;
}

.vertical__text p:last-child{
	margin: 0px;
}

.vertical__btn {
	height: 40px;
	display: block;
	margin: 0 20px;
	background-color: #fff;
	font-size: 18px;
	line-height: 40px;
	font-weight: 700;
	color: #445161;
	border-radius: 5px;
	text-align: center;
}





.footer {
	background: #F5F5F5;
}
.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footer__test {
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #445162;
}